body{
    background-color: #985ACE;
    margin: 0;
}

.wrapper {
    width: 1920px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form {
    width: 460px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;

    
    &_label {
        text-decoration: none;
        font-family: 'HelveticaNeue';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: black;
        opacity: 0.65;
        margin-bottom: 4px;
    }

    a {
        text-decoration: none;
        font-family: 'HelveticaNeue';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: black;
    }

    input {
        width: 273px;
        height: 40px;
        margin-bottom: 9px;
        background-color: #F8F1FF;
        border: none;
        border-radius: 7px;
        padding-left: 15px;

        font-family: 'HelveticaNeue';
            font-weight: 400;
            font-size: 20px;
            line-height: 1px;
            
    }

    &_menu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;
        width: 274px;

        a {
            font-family: 'HelveticaNeue';
            font-weight: 700;
            font-size: 14px;
            line-height: 1px;
            text-transform: uppercase;
            margin-right: 30px;
        }
    }

    &_sing-in {
        margin-right: 7px;
    }

    &_inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 37px;
    }

    &_submit-btn {
        margin-bottom: 20px;
        border: none;
        border-radius: 10px;
        width: 273px;
        height: 40px;
        cursor: pointer;

        background-color: #985ACE;
        color: #FFFFFF;
        font-family: 'HelveticaNeue';
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        transition: background-color 0.3s;

        &:hover {
            background-color: #653a8b;
        }
    }

    &_underline {
        width: 273px;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
    }

    &_google {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 273px;
        height: 40px;
        border: 2px solid #985ACE;
        border-radius: 10px;

        font-family: 'HelveticaNeue';
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;

        img {
            margin-right: 10px;
        }

        span {
            font-family: 'HelveticaNeue';
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}